@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  font-size: 18px;
  line-height: 40px;
}
.app{
  margin: auto;
}
/* Dark Mode toggle */
.darkMode {
  background-color: #314456;
  color: white;
}

.titleLightMode{
  color: white;
}

.lightMode {
  background-color: #fafafc;
  color: black;
}

.switch-dark-mode {
  margin: 0;
  padding: 0;
}

/* ************************ Menu ***********************************/
nav {
  overflow: hidden;
  /* a cause de la position fixed le menu en mobile napparait pas */
  position: fixed; 
  /* *********************************** */
  top: 0;
  width: 100%;
  background-color: #fafafc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  z-index: 20;
}
.banner {
  padding-top: 75px;
}
.centered {
  color: white;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* taille Titre Banner */
section .centered{
  font-size: 30px;
}

.centered-bis{
  display: none;
}
nav .custom-switch {
  padding: 0;
}
nav form {
  margin: 0;
  padding: 0;
  margin: auto;
}

.ant-image img {
  height: 200px;
}

.login-content {
  height: 40vh;
}

.signUp-content {
  height: 40vh;
}

.burger {
  display: none;
}

#navG {
  display: flex;
  align-items: center;
}

#navG img {
  height: 20px;
  padding-right: 9px;
}

#navG ul {
  margin: 0;
  padding: 0;
  display: flex;
}

#navG a {
  list-style: none;
  transition: 0.5s;
}

#navG a:hover {
  background-color: #d8d8d8;
  color: #3dc1a7;
  transition: 0.5s;
}

#navG a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  padding: 17px 9px;
}

#navD {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#navD ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 90px;
}

#navD a {
  list-style: none;
  padding: 0 9px;
  border-right: 1px solid #333;
}

#navD a:hover {
  color: #3dc1a7;
  transition: 0.5s;
}

#navD a:last-child {
  border-right: none;
}
#navD a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

/************************** MyCard **********************************/
.myCard a {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.myCard :nth-child(1) {
  max-width: 900px;
  display: grid;
  grid-gap: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.myCard img {
  height: 200px;
}

.container {
  height: 100%;
}
.boxe-content {
  height: 100vh;
}

.tarifs-content {
  margin: auto;
  text-align: center;
}

.textarea_contact {
  font-family: "HK Compakt";
  font-style: normal;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  max-width: 500px;
  padding-left: 20px;
  outline: none;
  color: rgb(25, 13, 51);
  padding-top: 18px;
  height: 8em;
  resize: none;
}
/* HOME/ARTICLE */
section .article-home {
  width: 500px;
  margin: auto;
  text-justify: auto;
}
/* H1 de la HOME */
.article-content > p {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  text-justify: auto;
}

section .home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acces-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transports :first-child {
  font-size: xx-large;
  margin: 10px 10px;
}

.transports p {
  margin-left: 10px;
}

.video {
  text-align: center;
}

.pageFacebook {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  margin-left: 10%;
  margin-right: 5%;
}

.certif {
  display: flex;
  flex-direction: row-reverse;
}
.inscription-content {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.horaires {
  display: flex;
  flex-direction: row-reverse;
}
.horaire-cards-content{
 text-align: center;
}
.title-horaire h1{
  text-align: center;
}

.contact{
  text-align: center;
  margin: auto;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

/*************************************** Social Media ****************************/
.socialIcon > *:hover {
  color: white;
  transition: 0.5s;
}

.socialIcon {
  color: #ffffffa6;
  cursor: pointer;
}

.socialIcon :nth-of-type(2) {
  margin: 0 5px;
}

.socialMediaInFaceBookPage {
  display: none;
}

/***************************** In Layout component ****************************/
#content {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 3rem;
  justify-content: center;
}

#footer {
  background-color: #314455;
  color: #ffffffa6;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 3rem;
  justify-content: center;
}

/* tab */
td a {
  color: white;
}
td a:hover {
  color: black;
  transition: 1s;
}
table {
  border: 3px solid black;
  border-collapse: collapse;
  width: 90%;
  margin: 135px auto;
}

thead,
tfoot {
  background-color: #d0e3fa;
  border: 1px solid #6495ed;
}
tbody {
  background-color: #ffffff;
  border: 1px solid black;
}
th {
  font-family: monospace;
  border: 1px dotted black;
  padding: 5px;
  background-color: #eff6ff;
  width: 15%;
}
td {
  font-family: sans-serif;
  font-size: 80%;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
caption {
  font-family: sans-serif;
}

/* Judo & JJB */
th[class="eveil"],
td[class="eveil"] {
  background-color: tomato;
}
th[class="baby-presPoussin"],
td[class="baby-presPoussin"] {
  background-color: steelblue;
}
th[class="poussin-benjamin"],
td[class="poussin-benjamin"] {
  background-color: papayawhip;
}
th[class="ados-adultes"],
td[class="ados-adultes"] {
  background-color: orange;
}

/* MMA */
th[class="mma-kids"],
td[class="mma-kids"] {
  background-color: seagreen;
}
th[class="mma-ados-adultes"],
td[class="mma-ados-adultes"] {
  background-color: rgb(0, 179, 255);
}

/* Boxe */
th[class="boxe-kids"],
td[class="boxe-kids"] {
  background-color: #fb1;
}
th[class="boxe-lady"],
td[class="boxe-lady"] {
  background-color: pink;
}
th[class="boxe-mixte"],
td[class="boxe-mixte"] {
  background-color: rgb(17, 255, 172);
}

/* centrer le texte dans les colonnes */
td,
th {
  text-align: center;
}
.certif img {
  margin: auto;
}
/********************FICHE INSCRIPTION *************************************/
.formInscription {
  display: flex;
  flex-direction: column;
}
.content form {
  display: flex;
  flex-direction: column;
}

.formInscription button {
  width: 400px;
  padding: 10px 0;
}

.ficheInscription div {
  display: flex;
}
#formGroup-option {
  width: 250px;
}
.ficheInscription div input {
  width: 250px;
  height: 36px;
}

form .btn-contact {
  background-color: #3dc1a7;
  color: white;
  width: 200px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

form .btn-contact:focus {
  outline: none;
}
form button:hover {
  background-color: #58968a;
}
/* inclure un placeholder à l'input DATE (pour le component FormFicheInscription*/
input[type="date"]::before {
  content: attr(placeholder) "Nés le: ";
  white-space: pre;
}
input[type="date"]:focus::before {
  content: "" !important;
}
#helpContact {
  background-color: #fff;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#helpContact .helpContactDetail {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#helpContact .icon {
  text-align: center;
}
#helpContact h2 {
  text-align: center;
}
#helpContact a {
  color: red;
  text-decoration: none;
  font-size: 16px;
}

#helpContact a:hover {
  text-decoration: underline;
}

.downloadfile {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.downloadfile input {
  margin-left: 10px;
}

.downloadfile label {
  width: 200px;
}
/* **************** FOOTER ************************ */

footer {
  background-color: #314456;
  border-top: 3px solid #3dc1a7;
  display: flex;
  height: 200px;
}

footer div {
  display: flex;
  margin: auto;
}

footer p {
  margin: 0;
  color: #6c757d;
}
  .active {
    display: block;
  }
  
  .shadowTab {
    box-shadow: 7px 7px 5px #999;
  }
/* ************************************************* */

@media screen and (max-width:1159px){
  .centered{
    display: none;
  }
  
  .centered-bis{
    display: inline ;
    color: white;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
  }

  
  nav {

    height: 40px;
    justify-content: center;
  }
  .banner {
    padding-top: 40px;
  }
  .centered-bis{
    display: inline ;
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #navG {
    background-color: #475a6d;
    flex-direction: column;
  }
  #navD a {
    font-size: 12px;
  }

  #navG ul {
    flex-direction: column;
    align-items: center;
  }

  .burger {
    display: block;
    color: #333;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
  }

  aside {
    display: none;
    z-index: 100;
    position: absolute;
    top: 40px;
    width: 100%;
  }

  
  /* HOME/ARTICLE */
  section .article-home {
    width: 280px;
    margin: auto;
    text-justify: auto;
  }
  .video {
    display: none;
  }

  section > p {
    display: none;
  }

  #helpContact h2{
    color: #3dc1a7;
    font-size: 20px;
    font-weight: bold;
  }
  .helpContactDetail{
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
    line-height: 25px;
  }

  
  /* H1 de la HOME */
  .article-content > p {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 35px;
    width: 450px;
  }
  .ficheInscription div input {
    width: 210px;
    height: 36px;
  }
  /* inclure un placeholder à l'input DATE (pour le component FormFicheInscription*/
  input[type="date"]::before {
    content: none;
  }

  #formGroup-option {
    width: 210px;
  }
}

